<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>マイページ</title>
  <!-- ブートストラップのCSSを読み込み -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- 任意のスタイルを追加 -->
  <style>
    body {
      padding: 30px;
    }
    .page-title {
      text-align: center;
      margin-bottom: 30px;
    }
    .page-links {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    .page-links a {
      margin: 0 10px;
    }
    .page-links a.btn {
      color: #fff;
    }
    .page-links a.btn-primary:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
    <h3 class="page-title">マイページへようこそ</h3>
    <div class="page-links">
      <a href="{{url_for('b_list')}}" class="btn btn-primary">本の一覧</a>
      <a href="{{url_for('book_register')}}" class="btn btn-primary">本の登録</a>
      <a href="{{url_for('book_delete')}}" class="btn btn-primary">本の削除</a>
      <a href="{{url_for('logout')}}" class="btn btn-danger">ログアウト</a>
    </div>
  </div>
</body>
</html>
